@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');

:root {
  --color-crows-1: #6BC926;  
  --color-crows-2: #D1CF1E;  
  --color-crows-3: #EFBB0F;  
  --color-crows-4: #EF7120;  
  --color-crows-5: #EF2A36;  
}

html,
body {
	height: 100%;
	width: 100%; 
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}

#map {
	height: 100%;
	width: calc(96%); 
	float: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


body:after {
	content: "";
	display: table;
	clear: both;
}
  
  
#right-box {
	height: 100%;
	width: calc(4% - 11px); 
	margin: 0;
	padding: 5px;
	border-left: 1px dotted black;
	overflow-x: auto;
}


.mapboxgl-popup {
	max-width: 200px;
	z-index: 11;
}
.mapboxgl-popup-content {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	z-index: 12;
}

/* 
Predziały z-index 
0 - mapa
90-99 - godzina, itp.
1-9 - markery
11-19 - popup
*/

#right-box button {
	background-color: white;
	width: 100%;
	height: auto;
	max-height: 3vw;
	padding: 2px;
	margin-bottom: 5px;
	color: #12B5E8;
	font-size: 1.25vw;
	border: 1px solid #12B5E8;
	border-radius: 4px;
	float: center;
	vertical-align: middle;
}

#right-box button:hover {
	background-color: #12B5E8;
	color: black;
}

.box-shadow {
	position: absolute;
	left: 0;
	bottom: -100px;
	width: 150px;
	height: 120px;
	z-index: 99;
	transition: transform 0.4s;
	background-color: rgb(181,198,137,0.75);
	padding: 5px 5px 5px 5px;
	border-radius: 0 5px 0 0;
}

.box-shadow p {
	position: absolute;
	top: 30px;
	text-align: right;
	/*
	-webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
	*/
}
/*
.box-shadow:hover {
	transform: translateY(-100px);
}
*/
/*
.box-shadow p {
	position: absolute;
	bottom: 10px;
	
	
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#wrapper .text {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
}

#wrapper:hover .text {
visibility:visible;
}
*/

.box-shadow-column {
	float: left;
	width: 20%;
	height: 20px;
	padding: 0;
	margin: 0;
}

.box-shadow-row:after {
	content: "";
	display: table;
	clear: both;
}


#show-time {
	background-color: rgb(181,198,137,0.75); /* ced9b1 b5c689*/
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 10px 5px 10px;
	border-bottom-right-radius: 15px;
	text-align: center;
	min-width: 50px;
	z-index: 99;
}	

.stop-marker {
	background-image: url('./img/tram.png');
	background-size: cover;
	width: 12.5px;
	height: 12.5px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
}

.tram-crowd-1 {
	background-color: var(--color-crows-1);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 9;
}

.tram-crowd-2 {
	background-color: var(--color-crows-2);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 9;
}

.tram-crowd-3 {
	background-color: var(--color-crows-3);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 9;
}

.tram-crowd-4 {
	background-color: var(--color-crows-4);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 9;
}

.tram-crowd-5 {
	background-color: var(--color-crows-5);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 9;
}



.colors {
	background: #44acab;
	position: absolute;
	top: 100px;
	left: 50px;
	background-image: linear-gradient(270deg, #ff0000, #ff3800, #ff7100, #ffaa00, #ffe200, #e2ff00, #a9ff00, #71ff00, #38ff00, #00ff00);
	width: 200px;
	height: 20px;
}

button, img {
	padding: 0;
	outline: 0;
	border: none;
	background: none;
	opacity: 0.75;
}

img:hover{
	opacity: 1;
}

.pause-button{
	background-image: url('./img/pause.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 35px;
	left: 5px;
	padding: 0;
	margin: 0;
	z-index: 91;
}

.play-button{ 
	background-image: url('./img/play.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 35px;
	left: 25px;
	padding: 0;
	margin: 0;
	z-index: 91;
}

.play-faster-button{ 
	background-image: url('./img/play-faster.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 35px;
	left: 45px;
	padding: 0;
	margin: 0;
	z-index: 91;
}
